body {
  background: lavender;
}

h1 {
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
  text-shadow: 5px 5px 5px gray;
}

p {
  text-align: justify;
  font-size: 24px;
}

a {
  font-size: 24px;
}

img {
  display: block;
  margin: 0 auto 20px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
  max-width: 100%;
}

.cruissant {
  font-weight: bold;
}

.links {
  display: flex;
  justify-content: space-evenly;
}
